
This is to explain what this does.
certain files will not commited should one use this or later commits.


.gitignore file is used to tell Git wich files and directories to ignore when making commits.
Users who clone my repository can know this too.


A .gitignore file is a plain text file that contains a list of all the specified files and folders from the project that Git should ignore and not track
Typically, a .gitignore file gets placed in the root directory of the repository. The root directory is also known as the parent and the current working directory. The root folder contains all the files and other folders that make up the project.

That said, you can place it in any folder in the repository. You can even have multiple .gitignore files, for that matter.

